.signIn_Box {
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

.signIn_Body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    background-image: url("Resources/Img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 

}

.signUp_Box {
    width: 550px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(250, 250, 250);
}

.adminsignInBody {
    background-image: url("Resources/Img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.adminSignIn_Box {
    width: 380px;
    padding: 20px;
    border-radius: 5px;
    /* background-color: white; */
    box-shadow: 0px 0px 30px 0px rgb(187, 166, 166);
}

.adminBody {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    background-image: url("Resources/Img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

 
   
}
.indexBody{

    background-image: url("Resources/Img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 

}

.profile_Body{

    background-image: url("Resources/Img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.userReport{

    color: aliceblue;
}
.orderBody{
    background-image: url("Resources/Img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

